.services {
	width: 100%;
	background-color: #f5f5f5;
	box-sizing: border-box;
	display: flex;
	justify-content: center;
	margin: 0 auto;
}

.services__container {
	width: calc(100% - 540px);
	box-sizing: border-box;
}

.services__title {
	margin: 0;
	color: #7e2323;
	font-family: "Raleway", sans-serif;
	font-weight: 800;
	font-size: 3.125em;
	line-height: 1;
	letter-spacing: -0.03em;
	padding-top: 50px;
	span {
		color: #f96c0d;
	}
}

.services__cards {
	width: 100%;
	margin: 0 auto;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: auto;
	gap: 30px;
	padding: 100px 0;
	align-items: stretch;
}

.services__card {
	background: #fff;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	padding: 60px 20px;
	box-sizing: border-box;
	height: 100%;
}

.services__cardTitle {
	margin: 0;
	color: #181818;
	font-family: "Raleway", sans-serif;
	font-weight: normal;
	font-size: 1.87rem;
	line-height: 1;
	letter-spacing: -0.03em;
	text-align: center;
	padding-bottom: 40px;
}

.services__link {
	padding: 20px 30px;
	position: relative;
	display: flex;
	align-items: center;
	box-sizing: border-box;
	box-shadow: 0 20px 30px rgb(34 34 34 / 7%);
	font-family: "Raleway", sans-serif;
	font-size: 0.8rem;
	line-height: 1;
	font-weight: 800;
	border-radius: 30px;
	border-bottom-right-radius: 0;
	color: #fff;
	background: #f96c0d;
	margin: 0;
	transition: 300ms ease all;
	&:hover {
		transform: translateY(-3px);
		box-shadow: 0 7.5px 15px rgba(34, 34, 34, 0.2);
		.services__arrow {
			transform: translateX(6px);
		}
	}
}

.services__link_color_pink {
	background: #7e2323;
	border-radius: 30px;
	border-top-left-radius: 0;
}

.services__arrow {
	position: relative;
	cursor: pointer;
	top: 2px;
	left: 8px;
	width: 10px;
	height: 10px;
	transition: 300ms ease all;
	.services__arrowLeft {
		position: absolute;
		background-color: transparent;
		top: 0;
		left: 0;
		width: 6px;
		height: 1px;
		display: block;
		transform: rotate(45deg);
		float: right;
		border-radius: 2px;
	}
	.services__arrowLeft:after {
		content: "";
		background: #fff;
		width: 6px;
		height: 1px;
		display: block;
		float: right;
		border-radius: 2px;
		z-index: -1;
	}
	.services__arrowRight {
		position: absolute;
		background-color: transparent;
		top: 4px;
		left: 0px;
		width: 6px;
		height: 1px;
		display: block;
		transform: rotate(-45deg);
		float: right;
		border-radius: 2px;
	}
	.services__arrowRight:after {
		content: "";
		background: #fff;
		width: 6px;
		height: 1px;
		display: block;
		float: right;
		border-radius: 5px;
		z-index: -1;
	}
}
@media screen and (min-width: 2900px) and (max-width: 3500px){
	.services__container {
		width: 45%;
	}
}

@media screen and (min-width: 801px) and (max-width: 1840px) {
	.services__container {
		width: calc(100% - 150px);
	}
}

@media screen and (max-width: 800px) {
	.services__container {
		width: calc(100% - 30px);
	}
	.services__title {
		font-size: 1.7em;
		padding-top: 20px;
	}
	.services__cards {
		grid-template-columns: repeat(1, 1fr);
		grid-template-rows: auto;
		gap: 30px;
		padding: 50px 0;
	}

	.services__card {
		height: 300px;
		padding: 30px 40px;
	}

	.services__cardTitle {
		font-size: 1.6rem;
		padding-bottom: 20px;
	}

	.services__cardText {
		font-size: 0.9rem;
	}

	.services__link {
		padding: 20px 50px;
		width: 180px;
	}
}
